 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Lato', sans-serif; 
    }
    body{
      width: 100vw;
      height: 100vh;
      background-color: #F2F5F9;
    }
    .card{
      width: 418px;
      margin: 200px auto;
      background: #fff;
      border-radius: 10px;
    }
    .hero{
      background: url('hero-image-1.jpg') no-repeat;
      width: 418px;
      height: 280px;
       border-radius: 10px;
      
    }
    .hero img{
      margin-top: 215px;
    }
    .middle{
      padding: 30px;
    }
    .heading{
      font-family: 'Poppins', sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      margin: 10px;
    }

    .text{
       font-family: 'Lato', sans-serif; 
       color: #4A5567;
       margin:10px;
       line-height: 23px;
    }
    .icon{
        background: url('avatar-image-business-card-1.png');
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #F2F5F9;
        background-size: contain;
        margin-right: 15px;
    }
    .bottom{
        padding: 30px;
        border-top: 1px solid #F2F5F9;
        display: flex;
    }

    .author{
        color: black;
        font-size: 1rem;
        font-weight: 600;
    }
    .post{
        color: #4A5567;
        font-size: 0.875rem;
        font-weight: 600;
    }


